.contaniner{
  margin: 10px;
  // min-width: 1280px;
  .header {
    background: white;
    padding: 16px;
    .header-top {
      ul {
        display: flex;
        li {
          margin: 5px;
          display: flex;
          span {
            white-space: nowrap;
            width: 89px;
            text-align: right;
          }
          .unnormal {
              width: 89px;
          }
          .unnormal2 {
            width: 198px;
          }
        }
     
      }
    }
  }
  .article {
    background: white;
    margin-top: 10px;
    padding: 16px;
  }
  .edit-group-dialog{
    .contaniner-dialog {
    position: relative;
      display: flex;
      .con-lft {
        ul {
          li {
            display: flex;
            p {
              white-space: nowrap;
            }
            margin: 5px;
            .text-log {
              width:  200px;
              height: 100%;
              overflow-y: auto;
              .text-log-content {
                padding: 16px;
              }
            }
            .el-select {
              width: 120px;
            }
            .el-input {
              width: 120px;
            }
          }
          .btn {
            // justify-content: center;
            margin-top: 15px;
          }
          
        }
      }
      .con-rht {
        ul {
          display: flex;
          li {
            display: flex;
            margin: 5px;
            p{
              white-space: nowrap;
            }
           .el-button{
             height: 28px;
             margin-left: 5px;
           }
           .el-select {
             width: 150px;
           }
           .el-checkbox {
             margin: 5px 5px 5px 30px;
           }
           
          }
        }
        .con-rht-text {
          color: red;
          position: absolute;
          top: -20px;
          left: 5px;
        }
        .con-rht-table {
          width: 750px;
          margin-top: 10px;
        }
      }
    }
  }
 
}