.contaniner{
  margin: 10px;
  color:black;
  .header {
    overflow: auto;
    background: white;
    padding: 16px;
    user-select: none;
    box-sizing: border-box;
    .header-content {
      min-width: 1180px;
      .header-lft {
        max-width: 317px;
        ul {
          li {
            margin: 5px;
            display: flex;
            align-items: center;
            span {
              white-space: nowrap;
              width: 100px;
              text-align: right;
            }
            .unnormal {
                width: 100px;
            }
            .unnormal2 {
              width: 140px;
            }
            
          }
       
        }
      }
      .header-rht {
        .btn-row{
          margin-bottom:3px;
          .el-button {
            margin: 3px;
          }
          .el-checkbox {
            margin: 5px;
          }
        }
        .res-text {
          color: red;
        }
      }
    }
  
  }
  #article {
    background: white;
    margin-top: 10px;
    padding: 16px;;
    .show-watermark-style {
      width: 106px;
      height: 47px;
      border: 1px solid #333;
      background:  #ccc;
    }
  }
  .water-dialog {
    .header-opt {
      display: flex;
    }
    .text-label {
      margin-top: 10px;
    }
    .text-log {
      margin-top: 10px;
      width: 570px;
      height: 270px;
      border: 1px solid #ccc;
      overflow-y: auto;
      .text-log-content {
        padding: 16px;
      }
    }
  }
  .import-mall-dialog {
    .header-dialog {
      p{
        color: red;
        font-weight: bold;
      }
      p:nth-child(2) {
        margin-left: 42px;
      }
    }
    .opt-dialog {
      display: flex;
      margin-top: 10px;
    }
    .container-dialog {
      margin-top: 10px;
      display: flex;
      .text-log {
        width:  240px;
        height: 432px;
        border: 1px solid #ccc;
        overflow-y: auto;
        .text-log-content {
          padding: 16px;
        }
      }
      .text-btn {
        margin-top: 10px;
      }
    }

  }
  .del-mall-dialog {
    .contanier-dialog {
      h3 {
        color: red;
        text-align: center;
      }
      .text {
        margin: 5px;
        color: red;
        font-weight: bold;
      }
      .text2 {
        margin: 20px 5px 5px 5px;
        color: red;
        font-weight: bold;
        // margin-top: 10px;
      }
      ul {
        margin-top: 20px;
        li {
          display: flex;
          margin: 5px;
          P {
            min-width: 70px;
            white-space: nowrap;
            text-align: right;
          }
        }
        .li-first {
          color: red; 
          font-weight: bold; 
          font-size: 12px;
        }
      }
      .el-radio-group {
        margin: 5px;
      }
    }
    
  }
  .mall-BK-Setting-Dialog {
    ul {
      li {
        display: flex;
        margin: 8px 5px 5px 5px;
      .el-radio-group{
        width: 222px;
      }
      }
    }
    /deep/.avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      // border: 1px solid black;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    /deep/.avatar-uploader .el-upload:hover {
      border-color: #409eff;
    }
    /deep/.avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 460px;
      height: 450px;
      line-height: 450px;
      text-align: center;
    }
    /deep/.avatar {
      width: 450px;
      height: 450px;
      display: block;
    }
  }
 
  .code-mall-dialog {
    .tip{
      color:red;
      display: block;
    }
    ul {
      display: flex;
      margin-top: 20px;
      li {
        display: flex;
        margin: 5px;
        line-height: 27px;
        span{
          text-align: right;
        }
        .el-select{
          width: 110px;
        }
      }
    }
    .el-table{
      .el-form{
        .el-form-item{
          margin: 0px;
          .el-form-item__label{
            height: 30px;
          }
          .el-form-item__content{
            height: 30px;
          }
        }
      }
    }
    .batch-but{
      margin-top: 20px;
      text-align: center;
    }
  } 
}