.contaniner{
  margin: 10px;
  min-width: 1280px;
  .header {
    background: white;
    padding: 16px;
    .header-top {
      ul {
        display: flex;
        li {
          margin: 5px;
          display: flex;
          span {
            // display: list-item;
            white-space: nowrap;
            min-width: 98px;
            line-height: 28px;
            text-align: right;
          }
        }
     
      }
    }
  }
  .article {
    background: white;
    margin-top: 10px;
  }
}