.contaniner{
  margin: 10px;
  .header {
    background: white;
    padding: 16px;
    min-width: 1280px;
    overflow: auto;
    .header-lft {
      max-width: 317px;
      ul {
        li {
          margin: 5px;
          display: flex;
          span {
            white-space: nowrap;
            width: 100px;
            text-align: right;
          }
          .unnormal {
              width: 100px;
          }
          .unnormal2 {
            width: 198px;
          }
        }
     
      }
    }
    .header-rht {
      ul {
        li {
          .el-button {
            margin: 3px;
          }
          .el-checkbox {
            margin: 5px;
          }
          .res-text {
            color: red;
          }
        }
      }
    }
  }
  #article {
    background: white;
    margin-top: 10px;
  }
  .water-dialog {
    .header-opt {
      display: flex;
    }
    .text-label {
      margin-top: 10px;
    }
    .text-log {
      margin-top: 10px;
      width: 570px;
      height: 270px;
      border: 1px solid #ccc;
      overflow-y: auto;
      .text-log-content {
        padding: 16px;
      }
    }
  }
  .import-mall-dialog {
    .header-dialog {
      p{
        color: red;
        font-weight: bold;
      }
      p:nth-child(2) {
        margin-left: 42px;
      }
    }
    .opt-dialog {
      display: flex;
      margin-top: 10px;
    }
    .container-dialog {
      margin-top: 10px;
      display: flex;
      .text-log {
        width:  240px;
        height: 432px;
        border: 1px solid #ccc;
        overflow-y: auto;
        .text-log-content {
          padding: 16px;
        }
      }
      .text-btn {
        margin-top: 10px;
      }
    }

  }
}