.contaniner{
  margin: 10px;
  min-width: 1280px;
  .header {
    background: white;
    padding: 16px;
    .header-top {
      ul {
        display: flex;
        li {
          margin: 5px;
          display: flex;
          span {
            white-space: nowrap;
            // width: 89px;
            text-align: right;
          }
          .unnormal {
              width: 89px;
          }
          .unnormal2 {
            width: 198px;
          }
        }
     
      }
    }
  }
  .header-two {
    margin-top: 10px;
    background: white;
    padding: 16px;
    .header-two-top {
      span {
        margin: 0 50px 0 0;
        white-space: nowrap;
      }
    }
  }
  .article {
    background: white;
    margin-top: 10px;
  }
}