.contaniner{
  margin: 10px;
  min-width: 1280px;
  margin-left: 10px;
  display: flex;
  .right {
    border-radius: 30px;
    margin-left: 10px;
  .header {
    background: white;
    padding: 16px;
    .header-top {
      ul {
        display: flex;
        li {
          margin: 5px;
          display: flex;
          /deep/.el-input{
            width: 120px !important;
          }
          .shopId{
            width: 200px !important;
          }
          span {
            // display: list-item;
            white-space: nowrap;
            min-width: 50px;
            line-height: 28px;
            text-align: right;
          }
        }
     
      }
    }
  }
  .article {
    background: white;
    margin-top: 10px;
    .pagination{
      float: right;
      margin: 10px;
    }
  }
}
}
@media only screen and (min-width: 1400px) {
  .contaniner {
    .right {
      /deep/.article{
        height: 774px;
      }
      /deep/.plTableBox {
        max-height: 890px !important;
      }
      /deep/.el-table {
        max-height: 890px !important;
        /deep/.el-table__body-wrapper {
          max-height: 630px !important;
        }
      }
    }
  }
}