.contaniner{
  margin: 10px 10px 0;
  min-width: 1280px;
  box-sizing: border-box;
  .header {
    background: white;
    padding: 16px;
    .header-top {
      ul {
        display: flex;
        li {
          margin: 5px;
          display: flex;
          span {
            // display: list-item;
            white-space: nowrap;
            line-height: 28px;
            text-align: right;
          }
        }

      }
    }
  }
  .header-two {
    margin-top: 10px;
    background: white;
    padding: 16px;
    .header-two-top {
      margin-top: 5px;
      display: flex;
      span {
        margin: 0 20px 0 0;
        line-height: 28px;
        white-space: nowrap;
      }
      .el-input {
        width: 120px;
      }
      .el-button {
        margin: 0 0 0 5px;
      }
    }
  }
  .article {
    position: relative;
    background: white;
    margin-top: 10px;
    height: calc(100% - 300px);
  }
  .log-show{
    overflow: auto;
    border: #1a1a1a 1px solid;
    width: 100%;
  }
  .reply_setting{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .reply_content{
      border: 1px solid #666;
      margin: 0 10px;
      padding: 5px 10px;
      text-align: left;
      height: 65px;
      box-sizing: border-box;
      overflow: auto;
      white-space: initial;
    }
  }

  .message_content{
    border: 1px #999999 solid;
    padding: 5px 10px;
    overflow: auto;
    height: 80px;
    text-align: left;
    white-space: initial;

    .contentP{
      margin: 0 0 10px;
      padding: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}


