.contaniner{
    margin: 10px;
    .header {
      background: white;
      padding: 16px;
      overflow: auto;
      ul{
        display: flex;
        width: 1363px;
          li{
            line-height: 24px;
            display: flex;
              margin-right: 20px;
              /deep/.el-range-editor--mini{
                width: 228px;
                /deep/.el-range-input{
                  width: 67px !important;
              }
              /deep/.el-range-separator{
                  width: 42px!important;
                  text-align: center;
              }
            }
            /deep/.el-input{
              width: 155px !important;
            }
          }
      }
    }
    #article {
      // min-width: 1280px;
      overflow: hidden;
      background: white;
      margin-top: 10px;
      padding: 16px;
      .pagination{
        float: right;
        margin-top: 10px;
      }
    }
    .dialog {
      /deep/.el-dialog__header {
        padding: 5px 0 0 10px !important;
      }
      /deep/.el-dialog__title {
        font-size: 12px !important;
        color: #3031337a !important;
      }
      }
      .foreign-dialog{
        ul{
          display: flex;
          width: 480px;
          margin-bottom: 10px;
            li{
              line-height: 24px;
              display: flex;
                margin-right: 20px;
              /deep/.el-input{
                width: 155px !important;
              }
            }
        }
        .el-table{
          margin-top: 10px;
        }
        .wid-info{
          color: red;
          line-height: 22px;
          .address{
            overflow: hidden;
            width: 498px;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
      .itself-goods-dialog{
        ul{
          display: flex;
          width: 1363px;
            li{
              line-height: 24px;
              display: flex;
              margin-right: 20px;
            }
        }
        /deep/.el-dialog__header{
          padding: 4px 8px 5px !important;
        }
        /deep/.el-dialog__body{
          padding:0 5px 5px 5px !important;
          /deep/.el-card{
            width: 585px;
            /deep/.el-card__body{
              padding: 10px !important;
              .left-wrap{
                width: 120px;
                li{
                  display: flex;
                  margin-bottom: 10px;
                  /deep/.el-input{
                    width: 155px !important;
                  }
                }
              }
              .right-wrap{
                ul>li{
                  margin-bottom: 10px;
                }
                .el-select{
                  width: 100px;
                  .el-input{
                    width: 100px;
                  }
                }
                .el-input{
                  width: 120px;
                }
              }
              .pagination{
                float: right;
                margin: 5px 0;
              }
            }
            /deep/.el-card__header{
              padding: 4px 10px !important;
              span{
                color: #969696;
              }
            }
          }
        }
      }
  }