.contaniner {
  min-width: 1200px;
  margin: 10px;
  .header {
    background: white;
    padding: 8px;
    // min-width: 1200px;
    overflow: auto;
    ul {
      display: flex;
      li {
        line-height: 24px;
        display: flex;
        margin-right: 10px;
        /deep/.el-range-editor--mini {
          width: 228px;
          /deep/.el-range-input {
            width: 62px !important;
          }
          /deep/.el-range-separator {
            width: 42px !important;
            text-align: center;
          }
        }
        /deep/.el-input {
          width: 150px !important;
        }
      }
    }
  }
  #article {
    background: white;
    // margin-top: 10px;
    // padding: 16px;
    // min-width: 1280px;
    .pagination {
      float: right;
      margin-top: 10px;
    }
  }
  .water-dialog {
    .header-opt {
      display: flex;
    }
    .text-label {
      margin-top: 10px;
    }
    .text-log {
      margin-top: 10px;
      width: 570px;
      height: 270px;
      border: 1px solid #ccc;
      overflow-y: auto;
      .text-log-content {
        padding: 16px;
      }
    }
  }
  .copyIcon {
    // color: var(--themeColor);
    margin-left: 1px;
    font-size: 16px;
    cursor: pointer;
  }
}
