.unclaimed-package {

    .operating-box {
      padding: 15px;
      border-radius: 10px;
      background: #fff;
  
      .form-item {
        display: flex;
        align-items: center;
  
        .title {
          width: 100px;
        }
  
        .el-input {
          width: 200px;
        }
  
        .el-button {
          margin-left: 10px;
        }
      }
    }
  
    .table-box {
      margin-top: 10px;
      padding: 15px;
      border-radius: 10px;
      background: #fff;
    }
  
    .dialog1 {
        /deep/.el-dialog__header {
            padding: 5px 0 0 10px !important;
          }
        /deep/.el-dialog__title {
        font-size: 12px !important;
        color: #3031337a !important;
        }
      .form-items {
        display: flex;
        margin-bottom: 20px;
        .title {
          width: 80px;
        }
  
        .el-input {
          width: 200px;
        }
  
        .el-button {
          margin-left: 10px;
        }
      }
    }
  }