.contaniner{
    margin:10px 10px 0 10px;
    background-color: white;
    padding: 10px;
    .header {
      background: white;
      overflow: auto;
      padding: 10px;
      border-radius: 5px;
      ul{
        display: flex;
        width: 1425px;
        li{
          line-height: 24px;
          display: flex;
          margin-right: 28px;
        }
      }
    }
    .edit{
      .el-input{
        width: 140px
      }
      /deep/.el-range-editor--mini{
        width: 228px;
        /deep/.el-range-input{
          width: 67px !important;
        }
      /deep/.el-range-separator{
          width: 42px!important;
          text-align: center;
        }
      }
    }
    #article {
      border-radius: 5px;
      overflow: hidden;
      background: white;
      padding: 0 10px 10px 10px;
    }
    /deep/.el-dialog{
      /deep/.el-dialog__header{
        padding: 12px 10px 5px !important;
      }
      /deep/.el-dialog__body{
        padding: 0 20px 15px !important;
      }
    }
    .time-dialog{
      .content{
        margin-bottom: 50px;
        text-align: center;
        /deep/.el-range-editor--mini{
          width: 305px;
          /deep/.el-range-input{
            width: 128px !important;
          }
        /deep/.el-range-separator{
            width: 38px!important;
            text-align: center;
          }
        }
      }
      .footer{
        text-align: center;
        .el-button{
          width: 80px;
        }
      }
    }
  }