.contaniner{
    margin:10px 10px 0 10px;
    background-color: white;
    padding: 10px;
    .red-span{
      color: red;
    }
    .header {
      background: white;
      overflow: auto;
      padding: 10px;
      border-radius: 5px;
      ul{
        display: flex;
        width: 1425px;
        li{
          line-height: 24px;
          display: flex;
          margin-right: 20px;
        }
      }
    }
    #article {
      border-radius: 5px;
      overflow: hidden;
      background: white;
      padding: 0 10px 10px 10px;
    }
    /deep/.el-dialog{
      /deep/.el-dialog__header{
        padding: 12px 10px 5px !important;
      }
      /deep/.el-dialog__body{
        padding: 0 20px 15px !important;
      }
    }
  }