.store-address {
    margin: 10px;
    padding:16px;
    background: #fff;
    .select-dialog{
        /deep/.el-form-item{
            margin-bottom: 0px !important;
        }
        /deep/.el-dialog__body{
            padding: 0px 20px 30px 20px !important;
        }
        .el-input{
            width: 177px;
        }
        .footer{
            text-align: center;
            span{
                text-align:left;
                display: flex;
                margin: 10px 0;
                line-height: 14px;
                letter-spacing: 1px;
                color: red;
            }
        }
    }
  }
  .mar-right {
    margin-right: 10px;
  }
  .activeColor {
    color: red;
  }
  .btn-tool {
    display: flex;
    align-items:flex-start;
    margin-bottom:10px;
    .warning-text{
       p{
          height:26px;
       }
    }
  }
  .content{
  
  }