.contaniner {
    margin: 10px;
    .header {
        background: white;
        padding: 16px;
        overflow: auto;
        .wrap {
            min-width: 1280px;
            display: flex;
            ul {
                display: flex;
                li {
                    line-height: 24px;
                    display: flex;
                    margin-right: 20px;

                    /deep/.el-input {
                        width: 155px !important;
                    }
                }
            }
            p {
                width: 732px;
                line-height: 14px;
                letter-spacing: 1px;
                color: red;
            }
        }
    }
    #article {
        overflow: hidden;
        background: white;
        margin-top: 10px;
        padding: 16px;
    }
}