.contaniner{
  min-width: 1200px;
  header {
    background: #ffffff;
    padding: 16px;
    .keyWord{
      .keyword-banner-bar {
        display: flex;
        li {
          margin: 5px 10px 5px  10px;
          white-space: nowrap;
          padding: 8px;
          width: 102px;
          text-align: center;
          border-radius: 5px;
        }
      }
      .keyword-banner-content {
        background: red;
        margin: 5px 10px 5px  10px;
        display: flex;
        .con-sub-1{ flex: 1}
        .con-sub-2{ flex: 1}
        .con-sub-3{ flex: 1}
      }
    }
  }
  .active{
    border: 1px solid rgb(253, 61, 55);
    background: rgb(254, 229, 212);
  }
}